PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Paciente (
    id_paciente INTEGER PRIMARY KEY, -- Corrigido para SQLite: INTEGER PRIMARY KEY para auto-incremento
    data_nasc DATE,
    nome VARCHAR(100),
    sexo CHAR(1),
    CPF CHAR(11) UNIQUE,
    telefone VARCHAR(15),
    email VARCHAR(100),
    endereco VARCHAR(200),
    convenio VARCHAR(100)
);
INSERT INTO Paciente VALUES(1,'1984-08-27','Levi Cirino','F','86179203431','31 4309 0896','levi.castro@example.com',replace('Praia de Pereira, 33\nSanta Branca\n07306099 Campos de Minas / RJ','\n',char(10)),'NotreDame Interm├®dica');
INSERT INTO Paciente VALUES(2,'1992-08-25','Sra. Evelyn Le├úo','F','23570168417','(021) 2322 8605','sra..viana@example.com',replace('Aeroporto Rafael Azevedo, 12\nOeste\n77641-837 Le├úo de da Costa / AL','\n',char(10)),'Hapvida');
INSERT INTO Paciente VALUES(3,'1956-06-15','Clarice Melo','M','86315942709','61 3538-0078','clarice.silveira@example.com',replace('Setor de Cavalcante, 48\nBra├║nas\n05629137 Aparecida de Minas / AP','\n',char(10)),'NotreDame Interm├®dica');
CREATE TABLE Funcionario (
    id_funcionario INTEGER PRIMARY KEY, -- Corrigido
    nome VARCHAR(100),
    data_nasc DATE,
    sexo CHAR(1),
    CPF CHAR(11) UNIQUE,
    telefone VARCHAR(15),
    email VARCHAR(100),
    endereco VARCHAR(200),
    data_admissao DATE,
    salario REAL -- Corrigido de FLOAT para REAL
);
INSERT INTO Funcionario VALUES(1,'Hadassa Guerra','1980-10-11','F','90124567380','(011) 0332-9961','hadassa.campos@work-example.com',replace('Morro Cardoso, 33\nVila Cloris\n90163613 Barbosa / AM','\n',char(10)),'2019-08-25',23136.9199999999982);
INSERT INTO Funcionario VALUES(2,'Sr. Henry Almeida','1989-10-15','F','21074859332','+55 (081) 6717-1378','sr..ara├║jo@work-example.com',replace('Feira Pacheco, 711\n├üpia\n27051-223 Novaes / AL','\n',char(10)),'2020-10-21',11671.8899999999994);
INSERT INTO Funcionario VALUES(3,'Stephany Sales','1976-08-24','M','02489157620','+55 81 1424-4918','stephany.vasconcelos@work-example.com',replace('Praia de Jesus, 23\nFrei Leopoldo\n92698-595 Fonseca da Prata / AP','\n',char(10)),'2012-02-22',3337.36999999999989);
CREATE TABLE Medico (
    id_funcionario INTEGER PRIMARY KEY,
    CRM VARCHAR(20) UNIQUE,
    especialidade VARCHAR(100),
    FOREIGN KEY (id_funcionario) REFERENCES Funcionario(id_funcionario)
);
INSERT INTO Medico VALUES(2,'CRM/SP 206025','Ortopedia');
INSERT INTO Medico VALUES(3,'CRM/SP 238844','Pediatria');
INSERT INTO Medico VALUES(5,'CRM/SP 992164','Ortopedia');
CREATE TABLE Tecnico (
    id_funcionario INTEGER PRIMARY KEY,
    especialidade VARCHAR(100),
    FOREIGN KEY (id_funcionario) REFERENCES Funcionario(id_funcionario)
);
INSERT INTO Tecnico VALUES(4,'An├ílises Cl├¡nicas');
INSERT INTO Tecnico VALUES(8,'An├ílises Cl├¡nicas');
INSERT INTO Tecnico VALUES(13,'Enfermagem do Trabalho');
CREATE TABLE Enfermagem (
    id_funcionario INTEGER PRIMARY KEY,
    COREN VARCHAR(20) UNIQUE,
    FOREIGN KEY (id_funcionario) REFERENCES Funcionario(id_funcionario)
);
INSERT INTO Enfermagem VALUES(1,'COREN-SP 997265-ENF');
INSERT INTO Enfermagem VALUES(12,'COREN-SP 141894-ENF');
INSERT INTO Enfermagem VALUES(17,'COREN-SP 966229-ENF');
CREATE TABLE Consulta (
    id_consulta INTEGER PRIMARY KEY, -- Corrigido
    data_hora DATETIME,
    valor REAL, -- Corrigido de FLOAT para REAL
    status_consulta VARCHAR(30),
    status_pagamento VARCHAR(30),
    forma_pagamento VARCHAR(30),
    data_pagamento DATE,
    id_paciente INT,
    id_medico INT,
    FOREIGN KEY (id_paciente) REFERENCES Paciente(id_paciente),
    FOREIGN KEY (id_medico) REFERENCES Medico(id_funcionario)
);
INSERT INTO Consulta VALUES(1,'2025-05-26 17:41:00',222.939999999999997,'Agendada','Pendente','Conv├¬nio',NULL,19,20);
INSERT INTO Consulta VALUES(2,'2023-07-20 16:37:18',148.280000000000001,'Cancelada','Cancelado','Conv├¬nio',NULL,85,15);
INSERT INTO Consulta VALUES(3,'2023-11-18 10:34:27',400.089999999999974,'Cancelada','Cancelado','Pix',NULL,88,20);
CREATE TABLE Exame (
    id_exame INTEGER PRIMARY KEY, -- Corrigido
    data_solicitacao DATE,
    data_coleta DATE,
    status_exame VARCHAR(30),
    status_pagamento VARCHAR(30),
    forma_pagamento VARCHAR(30),
    data_pagamento DATE,
    id_paciente INT,
    FOREIGN KEY (id_paciente) REFERENCES Paciente(id_paciente)
);
INSERT INTO Exame VALUES(1,'2025-01-07','2025-01-16','Em An├ílise','Pendente','Conv├¬nio',NULL,36);
INSERT INTO Exame VALUES(2,'2025-03-08','2025-03-16','Conclu├¡do','Pendente','Conv├¬nio',NULL,95);
INSERT INTO Exame VALUES(3,'2024-11-30','2024-12-02','Cancelado','Cancelado','Dinheiro',NULL,65);
CREATE TABLE Tipo (
    id_tipo INTEGER PRIMARY KEY, -- Corrigido
    nome VARCHAR(50),
    descricao VARCHAR(200),
    preco REAL -- Corrigido de FLOAT para REAL
);
INSERT INTO Tipo VALUES(1,'Hemograma Completo','An├ílise das c├®lulas sangu├¡neas.',80.5);
INSERT INTO Tipo VALUES(2,'Colesterol Total e Fra├º├Áes','Mede os n├¡veis de colesterol no sangue.',65.0);
INSERT INTO Tipo VALUES(3,'Glicemia de Jejum','Mede o n├¡vel de a├º├║car no sangue.',45.75);
CREATE TABLE Exame_Tipo (
    id_exame INT,
    id_tipo INT,
    PRIMARY KEY(id_exame, id_tipo),
    FOREIGN KEY(id_exame) REFERENCES Exame(id_exame),
    FOREIGN KEY(id_tipo) REFERENCES Tipo(id_tipo)
);
INSERT INTO Exame_Tipo VALUES(1,3);
INSERT INTO Exame_Tipo VALUES(1,4);
INSERT INTO Exame_Tipo VALUES(2,6);
CREATE TABLE Receita (
    id_receita INTEGER PRIMARY KEY, -- Corrigido
    descricao VARCHAR(200),
    data_emissao DATE
);
INSERT INTO Receita VALUES(1,'Tomar Omeprazol 20mg de 10 em 10 horas por 9 dias.','2024-12-22');
INSERT INTO Receita VALUES(2,'Tomar Amoxicilina 500mg de 10 em 8 horas por 8 dias.','2023-11-17');
INSERT INTO Receita VALUES(3,'Tomar Dipirona 500mg de 11 em 10 horas por 8 dias.','2025-05-30');
CREATE TABLE Emite (
    id_consulta INT,
    id_receita INT,
    PRIMARY KEY(id_consulta, id_receita),
    FOREIGN KEY(id_consulta) REFERENCES Consulta(id_consulta),
    FOREIGN KEY(id_receita) REFERENCES Receita(id_receita)
);
INSERT INTO Emite VALUES(4,1);
INSERT INTO Emite VALUES(11,2);
INSERT INTO Emite VALUES(28,3);
CREATE TABLE Analisa (
    id_tecnico INT,
    id_exame INT,
    data_analise DATE,
    PRIMARY KEY(id_tecnico, id_exame),
    FOREIGN KEY(id_tecnico) REFERENCES Tecnico(id_funcionario),
    FOREIGN KEY(id_exame) REFERENCES Exame(id_exame)
);
INSERT INTO Analisa VALUES(13,1,'2025-01-21');
INSERT INTO Analisa VALUES(13,2,'2025-03-16');
INSERT INTO Analisa VALUES(4,6,'2023-09-18');
CREATE VIEW melhor_cliente_f AS SELECT
    p.nome AS "Nome do Paciente",
    COUNT(c.id_consulta) AS "N├║mero de Consultas",
    SUM(c.valor) AS "Total Gasto em Consultas"
FROM
    Paciente p
JOIN
    Consulta c ON p.id_paciente = c.id_paciente
WHERE
    p.sexo = 'F'
GROUP BY
    p.id_paciente, p.nome
HAVING
    COUNT(c.id_consulta) > 0
ORDER BY
    "Total Gasto em Consultas" DESC;
CREATE VIEW melhor_cliente_m AS SELECT
    p.nome AS "Nome do Paciente",
    COUNT(c.id_consulta) AS "N├║mero de Consultas",
    SUM(c.valor) AS "Total Gasto em Consultas"
FROM
    Paciente p
JOIN
    Consulta c ON p.id_paciente = c.id_paciente
WHERE
    p.sexo = 'M'
GROUP BY
    p.id_paciente, p.nome
HAVING
    COUNT(c.id_consulta) > 0
ORDER BY
    "Total Gasto em Consultas" DESC;
CREATE VIEW melhor_cliente AS SELECT
    p.nome AS "Nome do Paciente",
    COUNT(c.id_consulta) AS "N├║mero de Consultas",
    SUM(c.valor) AS "Total Gasto em Consultas"
FROM
    Paciente p
JOIN
    Consulta c ON p.id_paciente = c.id_paciente
GROUP BY
    p.id_paciente, p.nome
HAVING
    COUNT(c.id_consulta) > 0
ORDER BY
    "Total Gasto em Consultas" DESC;
CREATE VIEW devedores_consulta AS SELECT
    p.id_paciente AS "ID do Paciente",
    p.nome AS "Nome do Paciente",
    COUNT(c.id_consulta) AS "N├║mero de Pagamento Pendentes",
    SUM(c.valor) AS "Total a Pagar"
FROM
    Paciente p
JOIN
    Consulta c ON p.id_paciente = c.id_paciente
WHERE
    c.status_pagamento = 'Pendente'
GROUP BY 
    p.id_paciente
HAVING
    COUNT(c.id_consulta) > 0
ORDER BY
    "Total a Pagar" DESC;
CREATE UNIQUE INDEX idx_paciente_cpf ON Paciente(CPF);
COMMIT;
